#calculator {
    display: inline-block;
    background-color: black;
    border-radius: 3%;
    padding: 2px;
    margin-bottom: 2px;

}

#output {
    position: relative;
    background-color: black;
    text-align: right;
    justify-content: center;
    height: 100px;
    color: white;
    font-size: 30px;
    border: 1px solid white;
    border-radius: 5%;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;

}

.number {
    display: inline-block;
    background-color: grey;
    color: white;
    font-size: 20px;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: auto;

}

.operator {
    display: inline-block;
    background-color: orange;
    color: white;
    font-size: 20px;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: auto;
}