#init {
    background-color: lightblue;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid black;
    justify-content: center;
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
}

#stop {
    background-color: lightcoral;
    width: 40px;
    height: 40px;
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    border: 1px solid black;
    display: inline-block;

}

#restart {
    background-color: yellow;
    width: fit-content;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border: 1px solid black;
    justify-content: center;
    display: inline-flex;
}

#info {
    border: 2px solid black;
    width: 140px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
}