.image {
    align-self: ratio 4px 3px;
    width: 100%;
    position: relative;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background: #444;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin: 20px 0
}

.main ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 50%;
    float: left;
    font: 14px Arial, Helvetica, sans-serif;
    height: 100%;
}

.main ul .nav {
    position: relative;
    left: -50%;
    float: left;
    margin: 0 10px;
    height: 40px
}

.main ul .nav a {

    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0 15px;
    line-height: 40px;
}

.main ul .nav a:hover:not(.active) {
    background-color: rgb(233, 134, 134);
}

.active {
    background-color: #4CAF50;
}

h1 {
    text-align: center;
}